<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <ul class="navbar-nav mr-auto navbar-inverse">
    <li class="nav-item">
      <a class="nav-link" href="/user">User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/loggedin/history">History</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
  </ul>
</nav>

</div>

 