<!DOCTYPE html>
<html lang="en" class=".bg-dark.bg-gradient">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>WT1</h1>
    <div class="text-center">
      <img src="/img/wave.gif" alt="gangnam" class="rounded mx-auto d-bloc">
    </div>
    
    <p>Logged out from <img src="img/gitlab_logo.png" alt="gitlab logo"></p>
  </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>