<!DOCTYPE html>
<html lang="en" class=".bg-dark.bg-gradient">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1 class="display-4">Logged out from <img src="img/gitlab_logo.png" alt="gitlab logo"></h1>
    <div class="text-center">
      <img src="/img/wave.gif" alt="bye" class="rounded mx-auto d-bloc">
    </div>
    
    <p></p>
  </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>