<!DOCTYPE html>
<html lang="en" class=".bg-dark.bg-gradient">

<head>
  <%- include('./partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('./partials/header'); %>
  </header>

  <main>

    <div class="jumbotron">


      <h1 class="display-4">WT1</h1>
      <p class="lead">Web application showcasing OAuth2 loggin with GitLab. And apropos of nothing an alien dancing gangnam style...</p>
      <div class="text-center">
        <img src="/img/gangnam.gif" alt="gangnam" class="rounded mx-auto d-bloc">
      </div>
      
    </div>

  </main>

  <footer>
    <%- include('./partials/footer'); %>
  </footer>

</body>


</html>