<!DOCTYPE html>
<html lang="en" class=".bg-dark.bg-gradient">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>WT1</h1>
    <p>Logout</p>
  </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>